html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    }
main {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    min-height: 70%;
    }

header{
    text-align: center;
    padding: 10px;
}   

#months{
    text-transform: uppercase;
    font-size: 30px;
}

#holiday{
    color: red;
}
    
.calender-main{
    margin: 10px 10px 10px;
    border: 2px solid black;
    border-radius: 7px; 
    
}

.todo-container-list{
    width: 400px;
    margin-top: 10px;
    
}

#daily-tasks{
    margin-top: 5px;
    margin-left: 5px;
    width: 285px;
}


 .calender-container{
     margin-top: 10px;
     margin-left: 20px;
     flex: 1 1 0px;
     background-color: #F2F2F2;
 }

 .calender-days{
     display: flex;
     justify-content: space-around;
     margin-bottom: 36px;
 }

 .calnder-month{
     display: flex;
     justify-content: space-between;
     margin-bottom: 40px;
     margin-top: 40px;
 }

 #days-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
 }

 .day-container {
	text-align: center;
	line-height: 30px;
    width: calc(100% / 7);
    height: 141px;  
    font-size: 18px;  
    padding-top: 50px;
    
    
}
 .day-container:hover{
    border: #e1e1e1;
    border: 1px solid #d0d0d0;
 }


.month-contaier{
    text-align: center;
}

.day-name{
    flex: 1 1 auto;
	text-align: center;
}
