@import url('https://css.gg/chevron-right.css');
@import url('https://css.gg/chevron-left.css');


html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    }
main {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    min-height: 70%;
    }

header{
    text-align: center;
    padding: 10px;
}  

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modal-open;
    animation-duration: 1s;
}

@keyframes modal-open{
    from{opacity: 0;}
    to{opacity: 1;}
}

.close-btn{
    color: #ccc;
    float: right;
    font-size: 30px;
}

.close-btn:hover, .close-btn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#months{
    text-transform: uppercase;
    font-size: 30px;
    margin-right: 30px;
}

#year{
    text-transform: uppercase;
    font-size: 30px;
    color: red;
}

.month-and-year-header{
    display: flex;
}

#holiday{
    color: red;
}
    
.calender-main{
    margin: 10px 10px 10px;
    border: 2px solid black;
    border-radius: 7px; 
    
}

.todo-container-list{
    width: 400px;
    margin-top: 10px;
    
}

#daily-tasks{
    margin-top: 5px;
    margin-left: 5px;
    width: 285px;
}


 .calender-container{
     margin-top: 10px;
     margin-left: 20px;
     flex: 1 1 0px;
     background-color: #F2F2F2;
 }

 .calender-days{
     display: flex;
     justify-content: space-around;
     margin-bottom: 36px;
 }

 .calnder-month{
     display: flex;
     justify-content: space-between;
     margin-bottom: 40px;
     margin-top: 40px;
 }

 #days-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
 }

 .day-container {
	text-align: center;
    width: calc(100% / 7);
    height: 80px;  
    font-size: 18px;  
    padding-top: 24px;
    
}

.day-container:hover{
    box-sizing: border-box;
    background: #e1e1e1;
    border-radius: 50%;
    box-shadow: 1px 0.5px;
    cursor: pointer;   
    background-color: #bbb;
}

.month-contaier{
    text-align: center;
}

.day-name{
    flex: 1 1 auto;
	text-align: center;
}

#the-day-{
    box-sizing: border-box;
    background: #e1e1e1;
    border: 1px solid #d0d0d0;
    box-shadow: 1px 0.5px;
}

.gg-chevron-left{
    cursor: pointer;
}

.gg-chevron-right{
    cursor: pointer;
}



